.btn-infos{
    margin-top: 2rem;
    display: flex;
    flex-direction:column;
    gap:20px;

    a:hover{
        color:#aeabab !important;
    }
 }
.btn-shop{
    align-items: center;
    background-color: #fff;
    color: #000000;
    display: flex;
    width: 185px;
    padding: 20px;
    gap: 10px;
    
}
.secs{
    width: 155px;
}
.bgr-banner,.bgr-banner-2{
    background-image: url('../../../assets/adidas2023.jpg');
    background-position: 97%;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    // padding: 60px;
}
.bgr-banner-2{
    background-image: url('../../../assets/banner2.jpg');
    background-attachment: fixed;

}
.header-nav{
    display: flex !important;
    justify-content: space-between !important;
}
.text-rgb{
    background-color: rgba(8, 0, 0, 0.56);}