.product-name{
    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width:500px) {
    .product-body {
      height: 620px;
    }
}