
.categories{
   font-weight: 300;
}
.product-name_detail{
    margin-top: 1.3rem;
    font-weight: 700;
    font-size: 2rem;
}
.product-price{
    margin: 10px 0;
    font-weight: 800;
}
.product-color{
margin: 20px 0;
}
.btn-add {
    margin-top: 20px;
}
